        {{#each pins}}
        <div class="pin" data-id="{{sortable}}">
            {{#if editable}}
                <div class="editable">
                    <div class="borderable">
                        <i class="icon-white icon-trash" data-id="{{sortable}}"></i>
                    </div>
                    <div class="borderable">
                        <i class="icon-white icon-pencil" data-id="{{sortable}}"></i>
                    </div>
                </div>
            {{/if}}
            <a href="{{image_src}}" class="lightbox" data-id="{{sortable}}">
                <div class="image-wrapper" style="width: 220px; height: 312px" >
                    <img src="{{image_src}}" width="220" height="312"/>
                </div>
            </a>
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
            <div class="pin-footer clearfix">
                <div class="text pull-right">
                    <span class="dim">{{name}} - {{price}}</span>
                    {{#if tags}}
                        <span class="dim">in</span>
                    {{#each tags}}
                        <span class="tag"><a href="/pins/tag/{{this}}/">{{this}}</a></span>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
